{% extends "machiney_template.html" %}

{% block content %}
  <div class="container">
    <h1>Say just the right thing.</h1>
    <p class="lead">Unlike other quote repositories, Machiney Quotes delivers 100% unadultered misattributed quotes. For when you need just the right wrong thing to say.</p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for people or sentiments...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
{% endblock %}
